[2016-06-29 13:54] ckeenan opened #1 "Support multiple inheritance"
Single inheritance pattern works OK, but multiple will fail. Example:
[code]
AFAICT, this functionality is currently supported by sol compilers -- http://solidity.readthedocs.io/en/latest/contracts.html#inheritance

Here is the error message from `truffle compile`:
[code]

[2016-06-29 19:19] tcoulter commented on #1
This has been fixed in 0.0.9. Closing. Thanks!

[2016-06-29 19:19] #1 closed

[2016-07-18 08:13] duaraghav8 opened #3 "Add range property"
Could you please add the range feature to the parser?
The ```range``` is a property every Node in the AST possesses whose value is an array of 2 integers:

range [0] **denotes the position of the starting character of the complete piece of code responsible for the particular node in question**

range [1] **denotes the position of its ending character.**

So for eg- if my solidity code looks like:

[2016-07-18 16:53] tcoulter commented on #3
Fixed in #4

[2016-07-18 16:53] #3 closed

[2016-08-07 11:08] axic opened #6 "Merge in changes from duaraghav8/solparse"
Would it be possible to have a single project for AST parsing?

cc @tcoulter @duaraghav8

[2016-08-07 11:18] duaraghav8 commented on #6
@axic I guess this repo is not being actively maintained (which is the reason I created solparse). However, I'd be happy to merge if ConsenSys team is interested.

[2016-08-07 15:11] tcoulter commented on #6
This project is being maintained so long as features are needed, and it's used activelyin Truffle 2.0.

@axic Which project should this go into (or should merge with this)?

[2016-08-07 15:12] tcoulter commented on #6
Ah, I didn't read the title. I'll check it out

[2016-08-07 15:20] tcoulter commented on #6
@duaraghav8 I'd be happy to merge those changes. Somehow I missed your PR, which you submitted two weeks ago. I'll add the merge of your whole fork into my list of current tasks. I appreciate your help. Thanks @axic for bringing this to my attention. @duarghav8, apologies for not seeing your initial PR.

[2016-08-07 16:10] duaraghav8 commented on #6
@tcoulter That's great! The only changes made are in ```solidity.pegjs``` and ```build/parser.js```.
I created my fork primarily so I could quickly push code and make releases, since 4 of my projects are now (heavily) dependant on solidity parser.

Please let me know if you require anything from my side.

[2016-08-24 08:15] chatch opened #7 "SyntaxError on imports parsing a contract with a commented out function"
/usr/local/lib/node_modules/truffle/node_modules/solidity-parser/index.js:39
      throw e;
      ^
SyntaxError: Expected "{", "}", any character, comment, end of line or whitespace but end of input found. Line: 14, Column: 1
    at peg$buildException (/usr/local/lib/node_modules/truffle/node_modules/solidity-parser/build/imports_parser.js:423:14)
    at Object.peg$parse [as parse] (/usr/local/lib

[2016-08-24 16:23] tcoulter commented on #6
Sorry for the lateness on this. Your fork has been merged into the master branch. I added some code to the parsing examples to cover the bugs that you fixed. I didn't keep the rename of `solidity-parser.pegjs`, however (mostly a stylistic preference, though open to the rename if there's a better reason).

Just to better communicate the situation: I maintain Truffle, ethereumjs-testrpc, solidity-pa

[2016-08-24 16:23] #6 closed

[2016-08-24 16:40] #7 closed

[2016-08-24 16:42] tcoulter commented on #6
@duaraghav8 FYI: solidity-parser 0.1.0 released. Also, I kept you in the list of authors in package.json. Thanks again.

[2016-08-24 16:44] duaraghav8 commented on #6
Awesome! Nope, keeping the same name is fine.
Sure, I will be submitting issues & PRs soon, since a couple of people have raised solidity-parser related issues on my repos (my projects rely on this module).

[2016-08-24 20:38] tcoulter commented on #6
👏

[2016-08-26 16:52] duaraghav8 opened #8 "using a Library 'for' causes SyntaxError"
Reproducing https://github.com/duaraghav8/Solium/issues/10 (reported by @elenadimitrova)

----------------------------------------------------------------------------------
Having a
[code]
As described here http://solidity.readthedocs.io/en/latest/contracts.html?#using-for

causes a SyntaxError:
[code]
----------------------------------------------------------------------------------

```using```

[2016-08-26 16:57] duaraghav8 opened #9 "Need support for 'var (x, y)'"
Originally reported by 4gn3s

Following code

[code]

is legal in Solidity, but not yet parsed by SP.
Though it recognises `(10, 20)` as `SequenceExpression`, `var (x, y)` causes parsing error.

Will be making a PR for this soon.

[2016-08-28 05:48] duaraghav8 opened #10 "Missing "type" field in "PropertyAssignment" Node definition"
take below code:
[code]

The AST for this is (you don't need to see the JSON, its just for reference):
[code]

Specifically, I'd like to point out the elements of ```properties``` array of ```ObjectExpression``` node.
The node corresponding to ```name: "foo bar"``` is:

[code]

This node has fields ```key, value, kind, start, end```, but doesn't have any ```type``` field (which is necessary for Sp

[2016-08-28 14:48] raineorshine commented on #10
I will second the use of `type: "Property"` since [that is what is used in esprima](http://esprima.org/demo/parse.html?code=sendObject%20(%7B%0A%20%20%20%20name%3A%20%22foo%20bar%22%2C%0A%20%20%20%20age%3A%2020%0A%7D)%3B).

[2016-08-29 15:06] duaraghav8 commented on #8
Update: I have added support for ```UsingStatement``` in my local module. Here's a sample:

For a statement like:
[code]
The Node looks like:
[code]

For a statement like:
[code]
The Node looks like:
[code]

I felt this was a suitable structure. Let me know if you need any changes or if its fine, I'll make a PR.

[2016-08-29 15:24] tcoulter commented on #8
Thanks @duaraghav8. When you say local module, you mean on your forked branch? Any chance you can submit pull requests from your fork into the main project? That'll make it much easier to import changes.

I'm happy to take all changes in one PR instead of many.

[2016-08-29 15:27] duaraghav8 commented on #8
@tcoulter yes, on my fork (, i.e., solparse).
Just also have a look at #10 and if you feel the fix I've made for it is fine, let me know.

Then I'll make a single PR with all the changes.

[2016-08-29 15:51] tcoulter commented on #10
Looks good to me. I defer to you guys one what the best value for `type` is here. :+1: Thanks @duaraghav8

[2016-08-29 16:23] tcoulter commented on #8
Made my comments on #10. Looks great!

[2016-08-31 03:01] #10 closed

[2016-08-31 03:01] #8 closed

[2016-09-24 06:25] duaraghav8 opened #13 "Allow Version Pragma Statements"
There's a new feature in Solidity - [pragma statements](https://solidity.readthedocs.io/en/develop/layout-of-source-files.html#version-pragma)

The statement looks like:
[code]

Proposed AST Node for the above:
[code]

```upward_compatible``` is false because of the presence of the cap '^' (as mentioned in the doc) which means the contract is not even compatible with v0.5.0 for example.

It will b

[2016-09-24 21:22] tcoulter commented on #13
@duaraghav8 Looks great to me. I've been meaning to get started on this.

Sorry for the late reply - got back from devcon and have been getting over the timezone change.

Interesting that `^` means *not* upward compatible. Seems opposite of npm versioning, IIRC.

Otherwise, looks great!

[2016-09-25 03:44] duaraghav8 commented on #13
oh no problem, I'm sure you had fun!
yeah, even I got puzzled because of the opposite use initially.
Cool! I'm almost done with this, will submit the PR soon:)

[2016-10-02 11:46] mpolci commented on #13
Hi, anyone is working on this? I can contribute if needed.
Regarding the proposed AST Node I think the upward_compatible boolean field is wrong.
The documentation [specify](https://solidity.readthedocs.io/en/develop/layout-of-source-files.html#version-pragma) that the version follow the same rules of npm, so the expression ^0.4.0 means compatible with all 0.4.x versions, the expression ^0.4 means

[2016-10-02 12:00] duaraghav8 commented on #13
@mpolci Yes, I've implemented it (but not yet made a PR since I was testing my code) but if you have already written the code then please go ahead

Also, quoting you

```^0.4.0 means compatible with all 0.4.x versions``` - This I already understand

```^0.4 means compatible with all 0.x.y, and also expressions like ~0.4.0 and >= 0.4.0 are supported``` - This I didn't account for.

So thanks for po

[2016-10-02 15:44] tcoulter commented on #13
@duaraghav8 I'd love to help test this. Seems a lot of people are asking for this feature. Let me know if there's anything I can do.

[2016-10-09 19:04] raineorshine commented on #9
Yup, ran into this, too (with the help of @nicksavers). Somewhere around here: https://github.com/ConsenSys/solidity-parser/blob/master/solidity.pegjs#L1123-L1142

[2016-10-09 19:31] duaraghav8 commented on #13
@tcoulter thanks! I'll point you to my fork once I'm done implementing changes pointed out by @mpolci

[2016-10-09 19:39] duaraghav8 commented on #9
@raineorshine I've implemented this feature on my fork (npm install solparse) and am trying to get solidity devs to test it. Once I'm satisfied, I'll push the changes here.
If you find time, do test it out and let me know in case improvements need to be made

Samples of statements I've been testing out:
```var (x, y, x) = (10, "Hello world", 9028.2897);```
```var (x, y, x) = getMyTuple ();```

[2016-10-09 20:28] raineorshine commented on #9
Awesome, thanks!

On Sun, Oct 9, 2016 at 1:39 PM Raghav Dua <notifications@github.com> wrote:

[2016-10-10 13:57] tcoulter commented on #13
@duaraghav8 What are the chances this can be finished early this week? I'm out Thursday onward to get married ( 🎉 ) and then I'm out for a two week honeymoon. I'd like to get people on solc 4.0 if I can, and I believe this is the only showstopper.

If you're booked for this week, do you have a branch I can work off of? Happy to try and pick up where you left off, or create an interim version that

[2016-10-10 17:23] duaraghav8 commented on #13
Hey congrats man!
I've been travelling lately, so haven't been able to do much.
Follow this link:
https://github.com/duaraghav8/solparse/blob/master/solidity-parser.pegjs#L1267

(this fork is not entirely in sync with solidity-parser, some additional, untested features also exist. So just pay attention to the pragma statement parsing code)

Right now, it only supports 2 types of statements:
```pra

[2016-10-10 18:01] tcoulter commented on #13
Thanks @duaraghav8! I'll take a look and see what I can do.

As far as Truffle is concerned, I'm going to do the bare minimum to get people compiling on 0.4.x, as there's there's huge interest there. We can patch things up later.

Regarding this statement:

I thought it worked differently than NPM semver. Is there any documentation on how it's supposed to work?

[2016-10-10 18:10] duaraghav8 commented on #13
@tcoulter yeah therein lies the confusion. The solidity pragma [doc](https://solidity.readthedocs.io/en/develop/layout-of-source-files.html#version-pragma) hasn't explicitly stated all the rules, says they're like NPM. However, the cap "^" is a special case where its the opposite of NPM's spec.

This is my interpretation of what's written in the doc. Maybe I'm wrong, please read and let me know?

[2016-10-10 18:14] mpolci commented on #13
I made a test with solc using the expressions I quoted in the previous
post. They are all recognized.

Il 10 ott 2016 8:10 PM, "Raghav Dua" <notifications@github.com> ha scritto:

[2016-10-10 18:23] tcoulter commented on #13
@mpolci Thanks for that.

@duaraghav8 I don't know any more than you do, but we can at least make a best guess. I'll edit the grammar to allow all prefix characters that NPM supports, just so we can get solidity-parser to stop erroring on the `pragma` statement and let the compiler error instead. When we learn more we can then tighten up what's allowed.

As far as the AST is concerned, I'll have i

[2016-10-10 18:39] mpolci commented on #13
Is it required to have a semantic interpretation in the parser? The
solidity grammar allow any expression
https://github.com/ethereum/solidity/blob/develop/libsolidity/grammar.txt

I think the parser could accept any expression without interpretation if it
isn't required for something else.

Il 10 ott 2016 8:23 PM, "Tim Coulter" <notifications@github.com> ha scritto:

[2016-10-10 18:43] tcoulter commented on #13
Technically no. But the goal of the solidity-parser should be a consistent AST that's easy to use.

[2016-10-10 18:55] duaraghav8 commented on #13
Thanks @mpolci
@tcoulter sounds like a good plan! Should we also ask a Solidity core team member to read this thread? Maybe they'll clear the air once and for all?

[2016-10-10 19:03] tcoulter commented on #13
@duaraghav8 Would love for them to read this! I'm definitely taking a littlest-information/quickest approach, so if we could get something better and more definitive I would love that!

[2016-10-11 18:02] tcoulter commented on #13
Just added this commit: https://github.com/ConsenSys/solidity-parser/commit/9a2ab71d0794738f51515d2f022903a720befd0c

Tests are passing with both these pragma statements: https://github.com/ConsenSys/solidity-parser/blob/master/test/doc_examples.sol#L4

I decided not to support version ranges. We can add support for ranges when people actually have a desire to use those later on.

Note that this i

[2016-10-11 18:03] tcoulter commented on #13
Oh, I also updated the imports parser to support pragma statements, but it simply ignores them as the point is to return only import statements.

[2016-10-12 05:32] duaraghav8 commented on #13
@tcoulter yep go ahead!

[2016-10-12 15:07] tcoulter commented on #13
Quick update:

It looks like the solidity dev team have [advertised range inputs to the pragma statement](https://github.com/ethereum/solidity/releases/tag/v0.4.0). This means we need to support it.

I've added support for range inputs here: https://github.com/ConsenSys/solidity-parser/commit/66573961489541d5a1562458a86d2737ccada601

This changes the pragma statement's AST to the following:

[code

[2016-10-12 15:34] tcoulter commented on #13
FYI: Also added support for hex string literals:

`hex"ab1248fe"`

[2016-10-12 15:38] tcoulter commented on #13
New version published: `v0.1.1`.

I'm going to close this ticket. We can open new tickets and pull requests when we want to tighten up the allowed syntax. Thanks guys!

[2016-10-12 15:38] #13 closed

[2016-11-01 05:07] federicobond opened #16 "Add support for hexadecimal string literals"
Syntax is `hex"ab1248fe"`

[2016-11-01 14:39] tcoulter commented on #16
Which version of the solidity parser are you using? Support for hexadecimal strings was added in 0.1.1 - https://github.com/ConsenSys/solidity-parser/commit/9159f9e92307e65bd32a84f9fc7043d745d92f5d

Closing this ticket. Please update to 0.1.1 and reopen with a code example if they still aren't working for you. Thanks!

[2016-11-01 14:39] #16 closed

[2016-11-01 15:29] federicobond commented on #16
My bad, I had cloned the latest master but made that test with a version installed as dependency of another project.

[2016-11-08 20:03] federicobond opened #17 "Separate top-level statements in grammar"
Right now, the grammar allows pragma directives, imports and contracts to be declared inside the contract. These should trigger a syntax error:

[code]

[code]

The `solc` compiler grammar singles these out in the `SourceUnit` rule. See [here](https://github.com/ethereum/solidity/blob/d3f410d8a89aaa042ff264d7a0ea79184e01abab/libsolidity/grammar.txt#L1).

[2016-11-09 10:43] duaraghav8 commented on #17
I'm not that experienced with PegJs so don't mind my being naive, but wouldn't this become significantly more complex? To specify **which nodes are allowed inside** for every node?

[2016-11-09 13:19] federicobond commented on #17
It shouldn't be difficult, just a matter of separating that big statement list into two rules.

[2016-11-10 22:55] #17 closed

[2016-11-11 12:25] federicobond opened #22 "Pragma directive should support any name and value"
The Solidity `pragma` directive was designed to support any identifier as name and expression as value, for backwards compatibility.

We should generalize it and return a `PragmaStatement` with `name` and `value`, not one that is restricted to `solidity` and a parsed version number.

If we are going to make this change, I would also suggest renaming it to `PragmaDirective`, which is a more descrip

[2016-11-21 21:44] raineorshine opened #26 "Order of ConstantToken shouldn't matter"
### Observed behavior:

This parses successfully:

[code]

But this does not:

[code]

### Expected Behavior

Both should parse. Order of ConstantToken in DeclarativeExpression shouldn't matter.

[2016-11-21 21:50] raineorshine opened #27 "Modifier arguments should allow ExpressionStatements"
This fails to parse:

[code]

If `a.yes()` is replaced with `true` it parses fine.

[2016-11-21 22:07] tcoulter commented on #27
Interesting find. Solidity allows arbitrary expressions and function calls in modifiers?

[2016-11-21 22:20] raineorshine commented on #27
Yes. Apparently I am one of the few who actively uses them :D.

I'm not 100% skilled with PegJS, but I have a rough draft of a fix. About to create a PR.

[2016-11-21 23:18] tcoulter commented on #27
Your PR looked good. I added a comment about ensuring the very simplistic tests pass. Note that one of the tests tests the built parser to ensure we're always rebuilding a new version as we add features. So feel free to commit a new built version if you like.

[2016-11-22 00:33] raineorshine commented on #27
Okay, good to know. I saw federico's PR didn't have a new build so I wasn't
sure whether it was expected or not.
On Mon, Nov 21, 2016 at 4:18 PM Tim Coulter <notifications@github.com>
wrote:

[2016-11-30 03:51] u2 opened #29 "Parse new Array error"
[code]
Can not Parse `new address[](2)`.

[2016-11-30 03:51] u2 opened #30 "Can not parse assembly"
Can not parse assembly.

[2016-12-01 14:43] federicobond opened #31 "Generate nodes for Ethereum Natural Specification comments"
Not sure if it can be done with the current parser, but it can be really useful for building automatic documentation generators and for tools to ensure that each function is properly documented.

[2016-12-08 02:05] #30 closed

[2016-12-09 16:09] D-Nice opened #38 "Using curly braces '{' '}' within string of contract causes parser to fail"
## Issue

A contract having any string containing a curly brace causes the parser to break, and stops any compilation.

## Steps to Reproduce

Add

[code]

to any contract

## Expected Behavior

To compile just fine, as with solc and browser-solidity.

## Actual Results

SyntaxErrors
[code]
or
[code]
## Environment

* Operating System: Windows 7
* Truffle version: 2.1.1
* Ethereum client: testrpc

[2016-12-14 14:11] #38 closed

[2016-12-16 19:05] cgewecke opened #43 "Array constructor rule"
As @federicobond observed in #40 - fixing #29 (parse memory array allocation) by letting an expression between array brackets be optional is too permissive because
[code]
now parses without complaining about `a[]`. Array constructors need their own rule.

[2016-12-21 05:02] federicobond opened #51 "Add human-readable names to rules"
From the PEG.js documentation:

This will improve many error messages.

[2016-12-23 15:16] federicobond opened #53 "Split indexed and non-indexed parameter lists"
Events can have indexed parameters, but methods cannot.

See [here](https://github.com/ethereum/solidity/blob/develop/docs/grammar.txt#L32-L33).

[2016-12-23 15:29] federicobond opened #54 "Parse function return type independently from modifiers"
The following code:
[code]
Generates this AST:
[code]

The return type should not be parsed as another modifier, and its arguments are types, not expressions. See [here](https://github.com/ethereum/solidity/blob/develop/docs/grammar.txt#L24-L26).

[2017-01-04 22:51] cgewecke commented on #9
@duaraghav8  Do you have any interest in submitting a PR to SP for this?

[2017-01-05 05:32] duaraghav8 commented on #9
ok so currently something like:

[code]
gets parsed into:

[code]

I'd like opinions on this before I push, @federicobond @tcoulter @raineorshine @cgewecke

@cgewecke as you mentioned [here](https://github.com/ConsenSys/solidity-parser/pull/44#issuecomment-270479159), could you tell me why the current code is still a crasher?

[2017-01-05 06:06] duaraghav8 opened #56 "(Seemingly) irrelevant data being created"
Code:
[code]

```sp.parse (code).body [0]``` yields:

[code]

Observer the ```body``` of the ContractStatement (first object is ```DeclarativeExpression```, which is fine. But what's happening after this?). Its taking semicolon as a separate entity, whereas the semicolon, together with an expression before that, make ```ExpressionStatement```.

My fix in solparse creates the following structure:

[2017-01-05 06:13] cgewecke commented on #9
Oh I'm so sorry - I made an inference about the [solcover issue](https://github.com/JoinColony/solcover/issues/25) referenced above and saw this was still open but I don't actually know what the problem is. Is this issue closable?

@area do you know if issues with tuples / sequences definitely originate in the parser?

[2017-01-05 18:23] cgewecke commented on #9
@duaraghav8 SP still errors on the comma after `x`, expecting a close paren.
[code]
So you would open a PR that adds the variable tuple parsing. . . basically from your [line 1160](https://github.com/duaraghav8/solparse/blob/master/solidity-parser.pegjs#L1160) to your [line 1187](https://github.com/duaraghav8/solparse/blob/master/solidity-parser.pegjs#L1187). One difference is that the 'noInit' ru

[2017-01-05 20:31] cgewecke commented on #56
@duaraghav8 What did you change in solidity-parser to get the solparse output?

[2017-01-06 05:53] duaraghav8 commented on #56
@cgewecke https://github.com/duaraghav8/solparse/blob/master/solidity-parser.pegjs#L1230

[2017-01-07 17:31] federicobond commented on #56
OK, the problem is caused by this rule:
[code]
Those first two rules do not parse to AssignmentExpression or DeclarativeExpression nodes but to arrays with the whitespace and EOS result as items too.

I propose to define StateVariableDeclaration as this:

[code]

And replace it in the `SourceElement` rule, which would also bring the parser more in line with the official grammar.

The problem is th

[2017-01-09 22:35] cgewecke opened #58 "Normalize handling of BlockStatement brackets at FunctionBody node"
[`FunctionBody`](https://github.com/ConsenSys/solidity-parser/blob/master/solidity.pegjs#L1355)'s type is `BlockStatement` but its parent consumes the enclosing brackets resulting in anomalous start / end values for the node. This is an issue for the Solium linter which wants to be able to analyze all `BlockStatement`s in the same way.

The [`FunctionDeclaration`](https://github.com/ConsenSys/soli

[2017-01-10 16:20] #26 closed

[2017-01-11 16:22] duaraghav8 commented on #58
Thanks for opening this @cgewecke
Me and cgewecke discussed why I did this [here](https://github.com/duaraghav8/solparse/issues/15) (8. Start/end Position).
So my fix was based on my interpretation of how the parser **should have** worked. And then I wrote Solium's code to comply with solparse's way of working. And now its heavily dependant on how solparse parses ```FunctionDeclaration``` & ```Blo

[2017-01-11 17:31] federicobond commented on #58
Indeed, we should parse either BlockStatement or EOS as described in the [official grammar](https://github.com/ethereum/solidity/blob/develop/docs/grammar.txt#L26).

[2017-01-21 16:06] christoph2806 opened #59 "RBrace (ASCII 0x7D) in strings breaks parser"
truffle (which uses this parser) does (of course) compile this:
[code]
but not this:
[code]

Parser output:
[code]
@raineorshine

[2017-01-21 21:03] christoph2806 commented on #59
#38 already closed. you can close this one as well. Sorry, didn't notice it had been fixed already. Is still open in truffle however.

[2017-01-21 21:03] #59 closed

[2017-01-23 18:14] #9 closed

[2017-01-24 19:50] #58 closed

[2017-04-07 18:48] frangio commented on #29
Was fixed in #40.

[2017-04-07 18:50] frangio commented on #43
Also note that `uint[]` in `new uint[](7)` is parsed as a `MemberExpression` instead of a type.

[2017-04-07 23:22] #43 closed

[2017-04-08 01:24] #29 closed

[2017-05-30 11:55] marekkirejczyk opened #67 "Support for Interfaces"
With new version of solidity (0.4.11) we have now support for interfaces.

Currently if you add following code to contract source:
[code]

Parser will fail to parse it. E.g if you add this code to solidity parser tests it will result in following error:
[code]

This makes it impossible to use interfaces with Truffle.

[2017-05-30 11:58] marekkirejczyk commented on #67
Added a pull request fixing the issue.

[2017-05-30 14:07] #67 closed

[2017-05-30 14:50] marekkirejczyk commented on #67
btw is there any release planned anytime soon? :)

[2017-05-30 15:57] federicobond commented on #67
pinging @tcoulter to cut a new release

[2017-06-07 22:36] cgewecke opened #69 "Tuples assignment should allow omitted components in a destructuring assignment"
[code]

This was pointed out by @federicobond in #60 but sadly, I didn't check or fix this. A Truffle issue has been opened about it [here](https://github.com/trufflesuite/truffle/issues/436).

[2017-06-08 03:35] #69 closed

[2017-06-08 17:57] travs opened #71 "Error parsing struct instantiation"
When we try to instantiate a struct using curly braces there is a parsing error.

See the `contrubute` function in the [solidity docs on structs](http://solidity.readthedocs.io/en/develop/types.html#structs).

Using [this minimal example:](https://gist.github.com/anonymous/bd4763f236b6bf541e6363bb9acc23a3)
[code]

Edit:
A second example (larger contract) is over here: melonproject/protocol#28

[2017-06-12 16:25] travs commented on #71
This issue should be solved with #72, but do you think we should do a patch version bump in this package before closing this issue?
Will make it easier to convince truffle to include the updated version of solidity-parser

[2017-06-12 16:40] travs commented on #71
Actually, still having an issue parsing in the case where there is a trailing comma after the last entry in the name-value list. See this updated example [(line 11)](https://gist.github.com/travs/eb6a5e80b694e38ae067a5e3d0cc2b0a#file-ballot-sol-L11).

[This](https://github.com/melonproject/protocol/blob/master/contracts/Vault.sol) is the contract we are trying to parse.

[2017-06-13 14:29] travs commented on #71
Excellent, these two issues are fixed. Thanks guys! 😄

[2017-06-13 14:29] #71 closed

[2017-06-13 15:06] travs opened #74 "Parsing destructuring assignment across lines throws error"
Example file:
[code]

Output:
[code]

[2017-06-13 15:56] cgewecke commented on #74
It looks like I introduced this bug with #70. Whitespace should be consumed separately from the optional commas. I'll PR to change this shortly.

[2017-06-14 04:46] federicobond commented on #74
Fixed by @cgewecke in #75.

[2017-06-14 04:46] #74 closed

[2017-06-15 17:49] duaraghav8 opened #76 "Struct instantiation pattern "MyStruct ({...})" doesn't get parsed"
According to solidity [struct](http://solidity.readthedocs.io/en/develop/types.html#structs) doc, this should get compiled:

[code]
(compiles in solc)

However, SP throws a parse error
[code]

this is because it doesn't recognise patterns like:
[code]

where foo is:

[code]

[2017-06-15 18:19] cgewecke commented on #76
Hi @duaraghav8! Are you using latest master? Rules to parse these cases were added only very recently. Are you going to try plug SP into Solium?

[2017-06-15 18:21] duaraghav8 commented on #76
@cgewecke let me update my module and re-try. I AM currently working on moving to SP and deprecating solparse

[2017-06-15 18:29] duaraghav8 commented on #76
it works in 0.3.0, my bad :)

[2017-06-15 18:29] #76 closed

[2017-06-16 02:31] cgewecke opened #77 "Also build parser on postinstall?"
@frangio added this nice build script in  #64 - initially he used the `prepare` hook but because that's so new it was changed to `prepublish`.

This works well for CI and publishing to npm but if you try to install SP as a dependency from the git repo in order to have access to the latest changes, the built parser isn't there.  [This issue](https://github.com/npm/npm/issues/3055) at npm describes

[2017-06-16 08:22] duaraghav8 commented on #76
@cgewecke IDK I might be doing something stupid here, but I still can't get it to work.

![screen shot 2017-06-16 at 1 42 12 pm](https://user-images.githubusercontent.com/12758282/27218065-301536c2-529a-11e7-936e-2da5c79bcee2.png)

when I remove the ```{ x: 100 }``` from inside ```fs ()```, it gets parsed with no trouble.

using latest version
![screen shot 2017-06-16 at 1 44 36 pm](https://user-i

[2017-06-16 13:14] cgewecke commented on #76
@duaraghav8 I'm sorry I should have been clearer above - these changes are in master but haven't been published to npm yet. That segment should parse when the version gets bumped. . .

[2017-06-17 03:42] duaraghav8 commented on #76
oh cool. Just let me know when you guys are planning to make the next release.

[2017-06-17 23:03] beether opened #78 "Does not show error on invalid multiple returns"
This should be invalid:  return a, b;
While this should be value:  return (a, b);

[2017-06-17 23:55] beether opened #79 "Incorrectly shows error with var ( ,b) = ..."
With:
`var (,b) = someFuncThatReturnsTwoValues()`

It returns
`Expected identifier but " " found.`

This is valid syntax.

[2017-06-22 12:45] duaraghav8 opened #80 "SyntaxError when parsing empty array expression"
Originally reported here: https://github.com/duaraghav8/Solium/issues/85

expression ```address[]``` is supported by solc but produces syntax error when used like:

[code]

Output:

[code]

The code compiles on solc (although with formal errors), so whether this syntax is actually correct needs to be discussed. But since solc compiles this contract, IMO it should get parsed by SP.

[2017-06-22 15:58] cgewecke commented on #80
@duaraghav8 That seems right to me.

It looks like the line they're trying to parse is in the uport-identity/contracts [here](https://github.com/uport-project/uport-identity/blob/develop/contracts/RecoveryQuorum.sol#L78) and has running tests. Are you opening a PR for this? 😄

[2017-06-22 17:40] duaraghav8 commented on #80
@cgewecke yep working on it!

[2017-06-23 14:38] area opened #81 "Unable to parse 'return' in inline assembly"
The following contract is unable to be parsed, because of the use of `return` in the inline assembly, but will compile successfully with `solc` and work as intended.

[code]

This also doesn't seem to be able to be parsed correctly by `solidity-parser-antlr`, for what it's worth.

[2017-06-23 17:06] cgewecke commented on #81
Submitting a PR to fix this shortly.

[2017-06-23 20:11] cgewecke opened #83 "Missing assembly rules: for, switch, function"
Several assembly features appear to be missing from the official grammar and use keywords / probably need special parsing.

Links to relevant code in `AsmParser.cpp`:
+ [for loops](https://github.com/ethereum/solidity/blob/develop/libsolidity/inlineasm/AsmParser.cpp#L357-L385)
+ [switch statements](https://github.com/ethereum/solidity/blob/develop/libsolidity/inlineasm/AsmParser.cpp#L70-L88)
+ [fu

[2017-06-24 01:00] #81 closed

[2017-06-25 06:21] duaraghav8 commented on #80
Ok so this one is giving me a hard time -.-" (probably because I haven't been in touch with developments in SP recently).
The trail is:
```FunctionDeclaration``` accepts ```ModifierArgumentList```, which takes ```ModifierArgument``` which accepts an ```Identifier``` followed by ```ArgumentList```.

See https://github.com/ConsenSys/solidity-parser/blob/master/solidity.pegjs#L1367

My doubts are:
1.

[2017-06-25 22:11] cgewecke commented on #80
Hi @duaraghav8. Thanks for working on this.  My two cents are:

1. Because`returns` is plural, it's just getting read an Identifier like `myVar123` and is mapped to the `name` field of the `ModifierArgument`. But it's hacky right? It's not a modifier.  Not sure what's best here.

2. AssignmentExpression: madness . . .

Looking at / translating from [solidity-antlr4](https://github.com/solidityj/so

[2017-06-27 16:34] duaraghav8 commented on #80
MAJOR BREAKTHROUGH!!!
Ok not a breakthrough but I finally understood what needs to be done.

https://github.com/ethereum/solidity/blob/develop/docs/grammar.txt#L29

The ```ModifierArgumentList``` also consumes the ```returns (..)``` we specify. returns is NOT a part of modifiers.
Modifiers are either like ```payable``` (do not take any arguments so no brackets required either) or ```owned (myPrice

[2017-06-27 17:18] duaraghav8 opened #84 "Add "build" to .gitignore"
Devs have to make sure their build/ directory doesn't get included on to version control every time they want to commit after testing their changes.
Makes sense for us to add ```build``` to ```.gitignore```.

[2017-06-27 17:18] cgewecke commented on #80
@duaraghav8 Yes yes that looks right to me. You're dramatically improving the AST coherence there.

[2017-06-27 17:48] federicobond commented on #84
Good idea! Note that you can also add `build/` to your `.git/info/exclude` file and ignore those files in your local clone.

[2017-06-27 18:07] duaraghav8 commented on #84
UPDATE: Just figured, adding build/ to .gitignore messes things up, because the build directory doesn't get published on NPM, so when you install SP on your machine you end up without the build/ dir & the parsing js files.

Will try the ```.git/info/exclude``` method though

[2017-06-27 18:08] #84 closed

[2017-06-28 22:23] #80 closed

[2017-06-29 07:39] elenadimitrova commented on #77
In fact it doesn't work well in CI when using `yarn`, see comment to #64   https://github.com/ConsenSys/solidity-parser/pull/64#issuecomment-311887116

[2017-06-29 17:47] cgewecke commented on #77
Thanks @elenadimitrova! Good to know.

[2017-06-30 20:58] cgewecke opened #86 "Errors when ReturnStatement arguments are on subsequent lines"
SP errors this:
[code]
Compiles fine though. An example from the wild can be seen at Numerai [here](https://github.com/numerai/contract/blob/master/contracts/NumeraireShared.sol#L63).
Opening a PR in a second.

[2017-06-30 21:08] federicobond commented on #86
Yes, another remnant of the ECMAScript syntax this parser was based on. Should be a single character fix :)

[2017-07-06 00:48] travs commented on #79
This happens to me as well, but like this:

Parse:
[code]

Error:
[code]

[2017-07-11 00:57] #86 closed

[2017-07-17 18:27] tcoulter opened #89 "Move solidity-parser to the trufflesuite organization?"
Hi all, @federicobond,

The Truffle team has grown. In order to help us maintain this repository, we'd love to move it to the `trufflesuite` organization, where issues can be more easily managed by the Truffle team and we can incorporate them into our development process. The name and the `npm` module name will not change.

Adding this ticket to solicit feedback. Would love your thoughts.

Thanks!

[2017-07-17 21:32] federicobond commented on #89
Hi Tim, I think it's a good decision. I am slowly disengaging from the project actually. I think it works fine for simple imports parsing but for full Solidity parsing its structure is just too different from the official Solidity specification, which almost guarantees that it will keep breaking for all sorts of edge cases.

I have been working on an alternative parser which should be production r

[2017-07-17 23:36] tcoulter commented on #89
Would you be interested in merging `solidty-parser` and `solidity-parsaer-antlr`? We could make it the next major version. (You'd be given admin access to the repo and npm module, of course)

[2017-07-17 23:37] tcoulter commented on #89
Hmm, actually, now that I think about it, might might be best to go the other way around (move this repo to your org and let you control it)

[2017-07-18 04:31] federicobond commented on #89
That seems reasonable. A good Solidity parser is critical for several components in Truffle and the current one is not being actively maintained.

I would be happy to take control of `solidity-parser` in npm and publish a new version `1.0.x` with my new code base, while we deprecate and eventually delete this repo. Would that minimize the chance of accidental breakage?

Also, let me know if you ne

[2017-07-18 16:11] tcoulter commented on #89
Thanks for the response @federicobond. Can you give me quick rundown of what makes ANTLR4 better? Are there any non-functional differences (speed, etc.)?

[2017-07-18 19:27] federicobond commented on #89
* The lexer/grammar is language-agnostic. Parsers for different languages can just implement the action code for each node of the parse tree and benefit from a well-tested grammar specification.

* In terms of performance, it's around 10-15% faster than `solidity-parser`.

 * Error reporting is way better, and even supports a tolerant mode that can recover from small errors (like a missing semicol

[2017-07-18 19:33] tcoulter commented on #89
Sounds awesome. Biggest Truffle need for Truffle, beyond a consistent AST, is the ability to parse for imports **without** parsing the rest of the code. This is mainly for performance, as when building a dependency tree of solidity files parsing the rest of the code us unnecessary (for `solidity-parser`, there's a significant speedup with the imports parser vs. the normal parser). Is it easy for y

[2017-07-18 19:43] federicobond commented on #89
I think so, but it's not a use case I am actively interested in maintaining. Why not create a `truffle-extract-imports` package with your simplified PEG.js grammar which already covers that use case pretty well?

[2017-07-18 19:44] tcoulter commented on #89
Probably worth it. `solc-js` is, or will be, exposing their parser (that doesn't fail on unresolved imports) as well. Will have to do some testing to figure out the right path forward.

[2017-07-18 20:29] federicobond commented on #89
I did some tests with `solc-js` to have a baseline before starting to work on `solidity-parser-antlr` and I did not find its performance acceptable. It can improve a little if they explicitly commit to supporting that use case, but I don't think by much.

So...

**Next steps:**
  * Create `truffle-extract-imports` or similar with simplified parser and API (up for grabs)
  * Transfer `solidity-pars

[2017-07-18 21:31] tcoulter commented on #89
Thanks @federicobond. Give me some time to explore options on my own and discuss with my team before we proceed.

[2017-07-24 10:23] izqui opened #90 "Can you please do a npm publish?"
All the packages that depend on `solidity-parser` break in our codebase because returns weren't working with assembly blocks (fixed here: https://github.com/ConsenSys/solidity-parser/commit/e44ed2136f3236c1203948b013cc2973509a52f2)

Can you please bump the version on npm?

Thanks

[2017-07-24 15:48] tcoulter commented on #90
Done. v0.4.0.

[2017-07-24 15:48] #90 closed

[2017-08-19 04:03] duaraghav8 opened #91 "inline assembly var. declaration without 'let' keyword fails in some cases"
Read issue here: https://github.com/duaraghav8/Solium/issues/95

**tldr**

[code]

Only the first statement inside assembly block gets parsed, the other 2 don't (but they do in solc)

I fixed it here: https://github.com/duaraghav8/solparse/commit/4b3c6e291928f72caaa549557c051943000a587a

Will make a PR if everything seems good to you

[2017-08-26 07:40] duaraghav8 opened #92 "missing location info in some nodes"
location info `start` & `end` attributes are missing from several nodes. This can break things.
These 2 fields (along with `type`) are supposed to be mandatory for all nodes in AST.

See fix here: https://github.com/duaraghav8/solparse/commit/d018ab06433a94489953469d8685e5550c9d2b96

[2017-09-27 06:09] tcoulter commented on #89
Hey @federicobond. I've talked to my team, as well as Consensys. We'd like to transfer this repository to a place that you control. Additionally, I'd like to transfer ownership of the `solidity-parser` node module over to you. If you can provide me with an organization to transfer this over to (or just you), as well as your npm username, I'll get started.

[2017-09-27 06:22] duaraghav8 commented on #89
@federicobond Please do consider the following issues & their fixes:
https://github.com/duaraghav8/Solium/issues/95
https://github.com/duaraghav8/Solium/issues/107
https://github.com/duaraghav8/Solium/issues/111
https://github.com/duaraghav8/Solium/issues/112

[2017-10-03 23:37] robert-zaremba commented on #67
Is it already released? Truffle still can't handle `interface`.

[2017-10-04 14:19] federicobond commented on #89
Hi, sorry for the delay. You can transfer it to `federicobond` for now.

@duaraghav8 please know that the PEG.js grammar will be deprecated in a 1.0 release, so I advice you to start migrating your code to the `solidity-parser-antlr` version.

[2017-10-15 10:22] paulofelipe84 commented on #67
Any news about the release?

[2017-10-26 06:03] isaackwan opened #93 "new `pragma experimental` grammar yields SyntaxError"
Hello -

Just a quick note that the new `pragma experimental` grammar yields exceptions in the parser.

Example output:
[code]

Example script:
[code]

I realize that this report is somewhat brief description (and that solidity-parser is to be transferred to the truffle organisation) -- will update this issue report once I've got time. Thanks for the amazing work!

Isaac

[2017-11-02 11:57] thomsonimjd commented on #1
could you please give proper ans to the issue?

[2018-01-21 22:44] sohkai opened #94 "Returning (struct storage) causes a parsing error"
On solidity-parser 0.4.0.

Something like

[code]

causes a parsing error:

[code]

----------------
Changing this slightly, to use a return variable, does not cause any errors:

[code]

[2018-02-04 20:10] Nehaw149 commented on #67
Hi Guys, can somebody mention if it's released?

[2018-02-08 08:08] bitsandsalsa opened #95 "Parser fails when it reaches a symbol with name "export""
Tested on v0.4.0. Here is a Solidity test case:

`contract export {}`

[2018-02-08 09:39] duaraghav8 commented on #95
the parser has reserved some words like `export` in anticipation that they'll be part of solidity grammar in future.
If you want to make changes to your own fork, see this commit that I made to my parser
https://github.com/duaraghav8/solparse/commit/329f396f4ae09ead50dfbb90942623e2ce163f28

I recommend you change your contract's name (maybe slightly)
or switch to federicobond's antlr parser if you

[2018-02-09 06:23] #95 closed

[2018-06-14 05:20] Yimin-Yang opened #98 "Cannot parse a simple smart contract"
JavaScript code:
[code]
Coin.sol:
[code]
This smart contract is from Solidity official document: [https://solidity.readthedocs.io/en/develop/introduction-to-smart-contracts.html](url). But the solidity parser cannot parse it. A SyntaxError is raised.

[2018-06-14 05:49] cgewecke commented on #98
Hi @Yimin-Yang - Apologies, this project is deprecated. There's a really nice, actively maintained JS solidity parser located [here](https://github.com/federicobond/solidity-parser-antlr).

[2018-06-14 13:02] Yimin-Yang commented on #98
@cgewecke Thanks!

[2018-06-14 13:02] #98 closed

[2018-06-19 10:07] tbenny opened #99 "How to get contract address in web3"
var Web3 = require("web3");
            var web3 = new Web3();
            var ethlog = web3.setProvider(new web3.providers.HttpProvider("http://localhost:8545/"));

            var  ContractABI = [{"constant":true,"inputs":[{"name":"_parent","type":"address"},{"name":"register","type":"address[]"}],"name":"isNotDuplicateChild","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability

[2018-06-19 11:44] federicobond commented on #99
Hi @tbenny, please ask this on StackOverflow or the web3.js repo. This is for the Solidity source code parser only.

[2018-06-19 11:44] #99 closed

[2018-07-21 02:17] tagomaru opened #100 "This may not support 'emit' for Event."
This may not support 'emit' which may be set in the front of caller of Event. Do you mind if I sent pull request for it?

[2018-07-21 04:36] federicobond commented on #100
@tagomaru this library is not being maintained anymore. I suggest you check out  [solidity-parser-antlr](https://github.com/federicobond/solidity-parser-antlr).

[2018-07-21 04:36] #100 closed

[2018-07-21 04:44] #53 closed

[2018-07-21 04:44] #54 closed

[2018-07-21 04:45] federicobond commented on #93
@isaackwan thanks for the report. This library is not maintained anymore. I suggest you move to [solidity-parser-antlr](https://github.com/federicobond/solidity-parser-antlr)

[2018-07-21 04:45] #93 closed

[2018-07-21 04:46] #91 closed

[2018-07-21 04:46] #92 closed

[2018-07-21 04:46] #77 closed

[2018-07-21 04:47] #56 closed

[2018-07-21 04:48] #78 closed

[2018-07-21 04:48] #79 closed

[2018-07-21 04:49] federicobond commented on #94
@sohkai thanks for the report! This library is not maintained anymore. I suggest you move to [solidity-parser-antlr](https://github.com/federicobond/solidity-parser-antlr).

[2018-07-21 04:49] #94 closed

[2022-05-20 14:35] BLAQKING36 opened #103 "71aecca"
verify that I'm the owner

[2022-05-30 11:36] BLAQKING36 opened #104 "Got about as many reviews as I expected, but the builds have been going fine and I want this checked in before alpha, so in it goes :)"
Got about as many reviews as I expected, but the builds have been going fine and I want this checked in before alpha, so in it goes :)

_Originally posted by @zooba in https://github.com/python/cpython/issues/67449#issuecomment-1093673059_

[2022-05-30 12:16] BLAQKING36 opened #105 "Updating the installer for better security and robustness. Large patch coming soon (just getting an issue number to put in NEWS)."
Updating the installer for better security and robustness. Large patch coming soon (just getting an issue number to put in NEWS).

_Originally posted by @zooba in https://github.com/python/cpython/issues/67449#issuecomment-1093673053_

[2022-05-30 12:16] BLAQKING36 opened #106 "Patch. I'm also revising [Doc/using/windows.rst](https://github.com/python/cpython/blob/main/Doc/using/windows.rst), but I don't want to delay the initial reviews."
Patch. I'm also revising [Doc/using/windows.rst](https://github.com/python/cpython/blob/main/Doc/using/windows.rst), but I don't want to delay the initial reviews.

I don't think this is perfect, but it works well enough for the first alpha (scheduled for 8 Feb), so I want to get it in and stabilised now rather than at the last minute. There'll be more features and work to do.

There's a README.tx